$firstPlayerColor: rgb(0, 255, 64);
$secondPlayerColor: rgb(225, 255, 0);
$thirdPlayerColor: rgb(47, 0, 255);
$fourthPlayerColor: rgb(255, 0, 17);

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	position: relative;
	background-color: #eee;
}

.container {
	display: flex;
	background-color: #fff;
}

.board {
	display: grid;
	grid-template-columns: repeat(15, 1fr);
	grid-template-rows: repeat(15, 1fr);
	gap: 0;
	width: 600px;
	height: 600px;
	background-color: #ddd;

	&_green,
	&_yellow,
	&_blue,
	&_red {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		gap: 0 30px;
		border: 1px solid black;
	}

	&_green {
		background-color: $firstPlayerColor;
		grid-column: 1/7;
		grid-row: 1/7;
	}

	&_yellow {
		background-color: $secondPlayerColor;
		grid-column: 10/-1;
		grid-row: 1/7;
	}

	&_blue {
		background-color: $thirdPlayerColor;
		grid-column: 10/-1;
		grid-row: 10/-1;
	}

	&_red {
		background-color: $fourthPlayerColor;
		grid-column: 1/7;
		grid-row: 10/-1;
	}
}

.board_field {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #bbb;
	border: 1px solid black;
	width: 40px;
	height: 40px;

	&_white {
		background-color: #fff;
	}

	&_green {
		background-color: $firstPlayerColor;
	}

	&_yellow {
		background-color: $secondPlayerColor;
	}

	&_blue {
		background-color: $thirdPlayerColor;
	}

	&_red {
		background-color: $fourthPlayerColor;
	}
}

.pawn_home {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background-color: #fff;
}

.pawn {
	border: 1px solid black;
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

.greenPawn {
	background-color: $firstPlayerColor;
}

.yellowPawn {
	background-color: $secondPlayerColor;
}

.bluePawn {
	background-color: $thirdPlayerColor;
}

.redPawn {
	background-color: $fourthPlayerColor;
}

.cube-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 40px;
	width: 100%;
	height: 600px;

	.cube {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 20px;
		width: 300px;
		height: 300px;
		border: 1px solid black;

		&_result {
			display: grid;
			gap: 20px;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(3, 1fr);
		}

		&_result-forOne {
			&-one {
				grid-column: 2;
				grid-row: 2;
			}
		}

		&_result-forTwo {
			&-one {
				grid-column: 1;
			}
			&-two {
				grid-column: 3;
				grid-row: 3;
			}
		}

		&_result-forThree {
			&-one {
				grid-column: 1;
			}
			&-two {
				grid-column: 2;
				grid-row: 2;
			}
			&-three {
				grid-column: 3;
				grid-row: 3;
			}
		}

		&_result-forFour {
			&-one {
				grid-column: 1;
			}
			&-two {
				grid-column: 3;
				grid-row: 1;
			}
			&-three {
				grid-column: 3;
				grid-row: 3;
			}
			&-four {
				grid-column: 1;
				grid-row: 3;
			}
		}

		&_result-forFive {
			&-one {
				grid-column: 1;
			}
			&-two {
				grid-column: 3;
				grid-row: 1;
			}
			&-three {
				grid-column: 3;
				grid-row: 3;
			}
			&-four {
				grid-column: 1;
				grid-row: 3;
			}
			&-five {
				grid-column: 2;
				grid-row: 2;
			}
		}

		&_result-forSix {
			&-one {
				grid-column: 1;
			}
			&-two {
				grid-column: 3;
				grid-row: 1;
			}
			&-three {
				grid-column: 1;
				grid-row: 2;
			}
			&-four {
				grid-column: 3;
				grid-row: 2;
			}
			&-five {
				grid-column: 1;
				grid-row: 3;
			}
			&-six {
				grid-column: 3;
				grid-row: 3;
			}
		}

		.cube_result-dot {
			width: 50px;
			height: 50px;
			background-color: #000;
			border-radius: 50%;
			border: 1px solid black;
		}
	}

	.btn_throw_cube {
		border: none;
		padding: 10px 20px;
		border-radius: 5px;
		font-size: 2rem;
		cursor: pointer;
	}
}

.startScreen {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;

	.startScreenMenu {
		box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.126);
		border-radius: 5px;
		padding: 5em;

		h1 {
			margin-bottom: 1em;
			font-size: 7em;
			text-transform: uppercase;
			text-align: center;
		}

		&_btns {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 3em;
			.btn {
				padding: 1em 2em;
				font-size: 3em;
				border: none;
				border-radius: 5%;
				cursor: pointer;
			}
		}
	}
}

.endGameScreen {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: rgb(255, 255, 255);
	display: none;

	&_winnerColor {
		font-size: 8rem;
		text-transform: uppercase;
	}

	&_p {
		font-size: 5rem;
	}
}

.comunicateBox {
	display: flex;
	align-items: center;
	padding: 5em 0em 5em 10em;

	.comunicateBox_text {
		color: $firstPlayerColor;
		opacity: 0;
		font-size: 3rem;
	}
}
